body{
    background-color: aliceblue;
margin:0;
}
*{
    box-sizing: border-box;
}

.header{
    padding:20px;
    text-align:center;
    background-color: burlywood;
}
.row:after{
    content:"";
    display: block;
    clear:both;
}
.content{
    float:left;
    width:66%;
    padding:15px;
}
.img{
    padding-right: 10px;
}
.side_bar{
    float:left;
    width: 34%;
    padding:15px;
}
@media screen and (max-width:700px){
    .content,side_bar{
        width:100%;
    }
    .index_img{
        width:40%;
    }
}
.footer{
    background-color: rgb(45,75,89,20%);
    padding: 20px;
    text-align: center;
    font: size 0.7em;
}
h3{
    text-align: center;
    color:purple;
    text-transform: uppercase;
    text-decoration:underline;
    }
   